<html xmlns="http://www.w3.org/1999/xhtml" ng-app="MyApp">
<head>
    <title>AuctionWebsite</title>
    <base href="/" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>

    <h1>My App</h1>

    <ng-view></ng-view>

    <script src="~/Scripts/angular.min.js"></script>
    <script src="~/Scripts/angular-route.min.js"></script>
    <script src="~/Scripts/angular-resource.min.js"></script>
    <script src="~/Scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <script src="~/ngApp/app.js"></script>
    <script src="~/ngApp/controllers/ItemController.js"></script>
    <script src="~/ngApp/services/ItemService.js"></script>

</body>
</html>